@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-black text-slate-50 antialiased;
  font-family: "Orbitron", sans-serif;
}
